*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

:root{
    --right-answer-color: #04a150;
    --wrong-answer-color: #9E1620;
    --white: white;
    --black: black;
    --box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.3);
    --q-bg-color: rgba(255, 255, 255, .7);
    --fade1light: rgb(30, 234, 234);
    --fade1dark:rgb(0, 106, 106);
}

.qf-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 90vw;
    font-family: 'Signika', sans-serif;
}

.qf-status-wrapper {
    width: 100%;
}

.qf-status-info {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.qf-num-of-questions {
    margin-left: auto;
}

.qf-card{
    box-shadow: var(--box-shadow);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient( var(--fade1light), var(--fade1dark) );
}

.qf-question-image{
    height: 200px;
    background-size: cover;
    border-top-right-radius: 30px;
}

.qf-question{
    text-align: center;
    padding: 20px;
    background-color: var(--q-bg-color);
    font-weight: bold;
}

.qf-p{
    margin: 0px;
}

.qf-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 2rem;
}

.qf-answers{
    display: flex;
    align-items: center;
    background-color: white;
    width: 80%;
    min-height: 50px;
    padding: .5rem 1rem;
    margin-top: 2rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all .2s ease-in-out; 
    color: var(--black);
    text-align: left;
}

.qf-answers-text {
    margin: 0;
}

.qf-answers:hover{
    transform: scale(1.05);
}

.qf-explanation-wrapper {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background: var(--q-bg-color);
}

.qf-explanation-text {
    width: 80%;
}

.fa-check-circle{
    margin-left: 80px;
    font-size: 30px;
    color: var(--right-answer-color);
}

.fa-times-circle{
    margin-left: 80px;
    font-size: 30px;
    color: var(--wrong-answer-color);
}

.qf-scale {
    transform: scale(1.05);
}

.qf-right-answer{
    border: 4px solid var(--right-answer-color);
}

.qf-wrong-answer{
    border: 4px solid var(--wrong-answer-color);
}

.qf-hidden {
    display: none;
}

@media (min-width: 500px) {
    .qf-card-container {
        min-width: 400px;
        width: 400px;
    }
}